ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .text{
    background-image: url("reb.jpg"); /* The image used */
    height: 600px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    padding-top: 30px;
  }
  .k{
      color: red;
      font-family: cursive;
      font-size: 30px;
  }
  
  
  .t{
      color: white;
      font-family: cursive;
  }
  .o{
      font-size: 30px;
      color: blue;
      font-weight: lighter;
      text-align: center;
  }
  button[type="button"]{
    width: 150px;
    height: 50px;
    background-color:coral;
    border-style: none;
    border-radius: 20px;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-family: cursive;
    text-align: center;

}
.s{
    color: blue;
    font-weight: bold;
}
.z{
    color: blue;
    font-weight: lighter;
}

.bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
  .bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
  }

  .m{
      color: blue;
      font-weight: bolder;
  }

  .me{
    color: goldenrod;
    font-weight: bolder;
    text-align: center;
    }
   